@charset "utf-8";
/* CSS Document */

@font-face {
  font-family:'Nanum Gothic';
  font-style:normal;
  font-weight:400;
  src: url('/fonts/NanumGothic-Regular.eot');
  src: url('/fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NanumGothic-Regular.woff') format('woff');
}
@font-face {
  font-family:'Nanum Gothic';
  font-style:normal;
  font-weight:600;
  src: url('/fonts/NanumGothic-Bold.eot');
  src: url('/fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NanumGothic-Bold.woff') format('woff');
}
@font-face {
  font-family:'NanumSquare';
  font-style:normal;
  font-weight:400;
  src: url('/fonts/NanumSquareR.eot');
  src: url('/fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NanumSquareR.woff') format('woff');
}
@font-face {
  font-family:'NanumSquare';
  font-style:normal;
  font-weight:600;
  src: url('/fonts/NanumSquareB.eot');
  src: url('/fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NanumSquareB.woff') format('woff');
}

* { margin:0; padding:0; font-family:'Nanum Gothic';}
a { text-decoration:none; }
img { border:0;}


html {
  background: #fff;
}


#full_wrap { min-width:1100px;   margin:0 auto;  font-family:'Nanum Gothic';}

#header {}


.topCon { background-color:#ebebeb; padding:10px 0 10px 0;}
.topCon ul {  width:1100px;  margin:0 auto; text-align:right;  position:relative; z-index:100;}
.topCon ul li { list-style:none; display:inline;  margin: 0px 5px 0 5px;}
.topCon ul li a {font-size:14px; color:#222;}
.topCon ul li a:hover { text-decoration:underline;}


.topNavi {  width:1100px; margin:0 auto;  }
.topNavi ul.left {  float:left; margin-top:30px;   position:relative; z-index:100;}
.topNavi ul.left li { list-style:none; display:inline; margin: 0px 15px 0 15px;}

.topNavi ul.right {  float:right;  margin-top:30px; position:relative; z-index:100;}
.topNavi ul.right li { list-style:none; display:inline; margin: 0px 15px 0 15px;}

.topNavi ul li a { font-size:18px; font-weight:bold; color:#222; }
.topNavi ul li a:hover {color:#C00;}

#logo_wrap {height:80px; border-bottom:5px solid #ed4036;}
h2.logo { position:relative; top:-45px;   }


#visual { min-width:1100px;  margin:0 auto; height:500px; background-image:url(../img/img.jpg); background-position:center;}
#visual div img {position:relative; top:80px; left:-380px; } 

#cont01 { min-width:1100px; background-color:#f8f8f8; padding:70px 0 70px 0; }
#cont01 .cont01_wrap { width:1100px; margin:0 auto;   }
#cont01 .cont01_wrap p { text-align:center; padding-bottom:20px;  }

#cont01 .cont01_wrap > table { background:#FFF; width:1100px;  font-family:'Nanum Gothic';}
#cont01 .cont01_wrap > table td { text-align:center; color:#333; font-size:16px; font-weight:bold;}
#cont01 .cont01_wrap > table td span { color:#999; font-size:13px;}
#cont01 .cont01_wrap > table td a { color:#666; font-size:15px; border:1px solid #ccc; padding:5px 10px 5px 10px;  font-size:13px;}
#cont01 .cont01_wrap > table td a:hover { color:#fff; background-color:#C00; }

#cont02 {width:1100px; height:150px;  margin:0 auto;  padding:70px 0 70px 0;  }
#cont02 div { float:left;  }
#cont02 div.notice p {    display:inline; padding-bottom:10px; border-bottom:3px solid #ed4036; }
#cont02 div.notice > a {font-size:17px; font-weight:bold; color:#333;  }
#cont02 div.notice p span {margin-left:230px; }
#cont02 div.notice ul li { list-style:none; font-size:14px; color:#555; line-height:180%; }

#cont02 div.icon ul { margin-left:50px; text-align:right; margin-top:15px;} 
#cont02 div.icon ul li {list-style:none; display:inline; margin: 0px 0px 0 70px;}


#cont03 { min-width:1100px;  height:355px; background-image:url(../img/cont_bg.jpg); background-position:center; background-repeat:no-repeat;   margin:0px 0 90px 0; }
#cont03 .cont03_wrap { width:1100px; margin:0 auto; }
#cont03 .cont03_wrap .left { float:left; width:540px; }
#cont03 .cont03_wrap .left ul  { margin-top:30px;}
#cont03 .cont03_wrap .left ul li { list-style:none; line-height:200%; text-align:center; color:#5c2d0f;}
#cont03 .cont03_wrap .left ul li.title { font-weight:bold;  font-size:30px; }
#cont03 .cont03_wrap .left ul li.c01 {font-size:15px;  }
#cont03 .cont03_wrap .left ul li.c02 {font-size:40px; font-weight:bold;}
#cont03 .cont03_wrap .left ul li.c03 {font-size:15px; }

#cont03 .cont03_wrap .right { float:left;width:540px; }
#cont03 .cont03_wrap .right ul  { margin-top:60px;}
#cont03 .cont03_wrap .right ul li { list-style:none; line-height:200%; text-align:center;  color:#ab9054;}
#cont03 .cont03_wrap .right ul li.title { font-weight:bold; font-size:30px; margin-bottom:15px; }
#cont03 .cont03_wrap .right ul li.c01 {font-size:15px; margin-bottom:40px; }
#cont03 .cont03_wrap .right ul li.c04 a {font-size:15px; padding:10px 30px 10px 30px;  color:#ab9054; border:1px solid #ab9054; }
#cont03 .cont03_wrap .right ul li.c04 a:hover { color:#fff; background:#ab9054; border:1px solid #ab9054; }


#cont04 { min-width:1100px; height:234px;   margin:0px 0 70px 0;  }
#cont04 .cont04_wrap { width:1100px; margin:0 auto; }
#cont04 .cont04_wrap div.c01 { background-image:url(../img/b1.jpg); background-repeat:no-repeat; width:333px; height:234px; float:left; margin-right:35px;}
#cont04 .cont04_wrap div.c02 { background-image:url(../img/b2.jpg); background-repeat:no-repeat; width:333px; height:234px; float:left; margin-right:35px;}
#cont04 .cont04_wrap div.c03 { background-image:url(../img/b3.jpg); background-repeat:no-repeat; width:333px; height:234px; float:left;}

#cont04 .cont04_wrap div.c01 p { margin-top:190px;}
#cont04 .cont04_wrap div.c01 p a{ font-size:16px; font-weight:bold; color:#333;}
#cont04 .cont04_wrap div.c01 p a:hover { color:#ed4036; }

#cont04 .cont04_wrap div.c02 p { margin-top:190px;}
#cont04 .cont04_wrap div.c02 p a{ font-size:16px; font-weight:bold; color:#333;}
#cont04 .cont04_wrap div.c02 p a:hover {  color:#ed4036;	}

#cont04 .cont04_wrap div.c03 p { margin-top:190px;}
#cont04 .cont04_wrap div.c03 p a{ font-size:16px; font-weight:bold; color:#333;}
#cont04 .cont04_wrap div.c03 p a:hover { 	 color:#ed4036;}



#footer { min-width:1100px;  padding:20px 0 20px 0; background-color:#333; color:#ccc; font-size:13px;}
#footer div.foot_width { width:1100px; margin:0 auto;}
#footer div.btn ul {1100px; }
#footer div.btn ul li {list-style:none; display:inline;  margin: 0px 5px 0 5px;}
#footer div.btn ul li a { color:#ccc;}
#footer div.btn ul li a:hover { color:#C00; text-decoration:underline;}

#footer div.add ul { margin-top:20px; padding:10px; border-top:1px solid #666;}
#footer div.add ul li {list-style:none; line-height:180%;}
